In [2]:
age = 32
print("my age is:",age)

my age is: 32

In [3]:
print(f"My age is:{age}")

My age is:32

In [5]:
name="krish"
age=35
print("my name is {} and age is {}".format(name,age))

my name is krish and age is 35

In [ ]:
print("my name is {} and age is {}".format(name,age))

In [6]:
#place holder
print("my name is {firstname} and age is {firstage}".format(firstname=name,firstage=age))

my name is krish and age is 35

In [7]:
print("my name is {firstname} and age is {firstage}".format(firstage=age,firstname=name))

my name is krish and age is 35

In [10]:
name="Ruchi"
age = 22
Degree = "BE"
print(f"my age is {age} and i have completed my degree of {Degree} with the name of {name}. " )

my age is 22 and i have completed my degree of BE with the name of Ruchi.

In [11]:
print("my age is {} and i have completed my degree of {} with the name of {}. ".format(age,Degree,name) )

my age is 22 and i have completed my degree of BE with the name of Ruchi.

In [12]:
print("my age is {ru_age} and i have completed my degree of {ru_degree} with the name of {ru_name}. ".format(ru_age=age,ru_degree=Degree,ru_name=name) )

my age is 22 and i have completed my degree of BE with the name of Ruchi.

In [13]:
age=int(input("enter your age"))
if age>=18 and age<=32:
    print("you are young blood.")

enter your age 22

you are young blood.

In [4]:
age = int(input("Enter our age: " ))
if age>=18 and age<=45 :
    print("You are young blood.")
else:
    print("Thank you we will let you know.")

Enter our age:  12

Thank you we will let you know.

In [6]:
product_price = int(input("Enter the price:"))
if product_price>3000:
    print("The price of product is{}".format(product_price*0.8))
elif product_price >=2000 and product_price<= 3000:
     if product_price==2999:
          print("you will get an additional gift.")
     print("The price of product is{}".format(product_price*0.7))
elif product_price>=1000 and product_price<= 2000:
     print("The price of product is{}".format(product_price*0.6))
else:
     print("you can drink tea.")

Enter the price: 1600

The price of product is960.0

In [1]:
##Single statement suites
val=int(input("enter the no:"))
if(val<=999):print("Value is less than equal to 999")
else:
    print("Go to Home")

enter the no: 899

Value is less than equal to 999

#Loops statement
###while loop
###for loop
###nested loop
###loop control(break,continue,pass)

In [7]:
# while loop else while
joining_age = 28
while joining_age<=60:
    print(joining_age)
    joining_age+=1
else:    
    print("its time to retriment")

28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
its time to retriment

In [11]:
total_amount = 1000
while total_amount!=0:
    print(total_amount)
    total_amount-=100
else:
    print("bank walo or money dalo atm mein")

1000
900
800
700
600
500
400
300
200
100
bank walo or money dalo atm mein

In [4]:
Ist =['Ruchi',1,2,3,4,]

In [5]:
for x in Ist:
    print(x)

Ruchi
1
2
3
4

In [6]:
Fruit_basket = ['Apple','banana','Mango','Orange','Grapes']

In [7]:
fruit_basket = 'Mango'
for x in fruit_basket:
    print(x)

M
a
n
g
o

In [8]:
fruit_basket = 'Mango'
for x in fruit_basket:
    print(x,end='')

Mango

In [9]:
for i in range(1,5): # range take two parameters range(start,stop) and exludes last parameter.
    print(i)

1
2
3
4

In [10]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [12]:
#nested loop
n=7
for i in range(0,n):
    for j in range(0,i+1):
        print("*",end="")

****************************

In [15]:
#nested loop
n=7
for i in range(0,n):
    for j in range(0,i+1):
        print("*",end="")
    print("\n")

*

**

***

****

*****

******

*******

In [13]:
#nested loop
n=7
for i in range(0,n):
    for j in range(0,i+1):
        print("*",end="")
    print("\r") # go to the new line that is left most side

*
**
***
****
*****
******
*******

In [17]:
fruit = ['banana','Mango','Apple','cherry','orange'] #break the entire loop
for i in fruit:
    if i=='Apple':
      print("This is apple.")
      break
    print(i)

banana
Mango
This is apple.

In [18]:
fruit = ['banana','Mango','Apple','cherry','orange'] #simply pass all the steps 
for i in fruit:
    if i=='Apple':
      print("This is apple.")
      pass
    print(i)

banana
Mango
This is apple.
Apple
cherry
orange

In [19]:
fruit = ['banana','Mango','Apple','cherry','orange'] #skip the step which condition is true 
for i in fruit:
    if i=='Apple':
      print("This is apple.")
      continue
    print(i)

banana
Mango
This is apple.
cherry
orange