In [3]:
def isprime(n):
    if  n==0 or n==1: return False
    for i in range(2,n):
        if n%2==0:
            break
    else:
        return True
    return False

In [5]:
isprime(2)

True

In [7]:
def Twice(n):
    n=2*n
i=2
Twice(i)
print(i)

2

In [8]:
def Twice(l):
    for i in range(len(l)):
        l[i]=l[i]*2
l=[1,2,3,4,5]
Twice(l)
print(l)

[2, 4, 6, 8, 10]

In [12]:
def twice(s):
    s[i]=s[i]*3
x={2,3,4,5}
twice(x)
print(x)

TypeError: 'set' object is not subscriptable

In [13]:
def f():
    a=10
    a=a+2 #local to function (ese variable jo function ke ander banaye jate hai)
    print(a)
f()
print(a)

12

NameError: name 'a' is not defined

In [14]:
a = 1111 # global to function(ese variable jo function ke bhar print ho)
def f():
    a1=10
    print(a1)
f()
print(a)

10
1111

In [15]:
x=10 #global
def f():
    y=200
    print(y)
    print(x)
f()
x=234
print(x)

200
10
234

In [16]:
a=10
def f1():
    a=90
    print(id(a))

In [17]:
f1()

2589543304208

In [19]:
id(a)

2589543301648

 ## Different types of arguments in functions

In [24]:
# can we return multiple value from a function
def f(a,b):
    '''this function return sum and difference'''
    return a+b,a-b
x,y=f(10,20)

In [26]:
f.__doc__ #object.__doc__

'this function return sum and difference'

In [21]:
x

30

In [22]:
y

-10

In [23]:
type(f(1,2))

tuple

# positional argument 
## The no. of arguments and position must be matched
##  if the no.of arguments is not same -- error

In [27]:
def math(a,b,c):
    return a+b-c

In [28]:
math(10,20,30)

0

In [29]:
math(20,30,10)

40

In [30]:
math(10,20)

TypeError: math() missing 1 required positional argument: 'c'

In [ ]:
# keyword argument

In [ ]:
# keword arguments
#f(name,age,dob,address,maritail_status,phone_no,address,gender)
# f_call it===> any order is possible     now with keyword as argument name
#f(age=34,name="ruchi", phone_number =89202***,marital_status='single')

In [31]:
def f(a,b,c,d):
    return a*b/c-d
f(10,20,30,40)

-33.333333333333336

In [32]:
f(30,20,10,40)

20.0

In [33]:
f(d=40,c=30,b=20,a=10)

-33.333333333333336

In [34]:
f(10,20,d=40,c=30)

-33.333333333333336

In [35]:
f(10,20,d=40,b=30)

TypeError: f() got multiple values for argument 'b'

In [36]:
 def sum(a,b):
        return a+b
sum(10,20) # will work fine

30

In [37]:
sum(10,20,30)

TypeError: sum() takes 2 positional arguments but 3 were given

In [2]:
#default arguments
#c is taking default value as 0
#if we dont pass c then only 0 is taken
def sum(a,b,c=0):
    return a+b+c
sum(10,20)# a=10,b=20 we didnt passed c value ===>default c=0 10+20+0

30

In [3]:
sum(10,20,30)# default value is not needed now

60

In [4]:
def f(a=0,b=0,c,d):
    return a+b+c+d
f(10,20,30)#default musr be after positional arguments

SyntaxError: non-default argument follows default argument (1950751090.py, line 1)

# variable no. of arguments def f(*args):

In [13]:
def f(*n):
    sum=0
    for ele in n:
        sum = sum+ele
    return sum

In [14]:
f()

0

In [15]:
f(1,2)

3

In [16]:
f(1,2,3)

6

In [17]:
f(1,2,3,4,5)

15

In [21]:
def f1(*n):
    for ele in n:
        print(ele)
f1()

In [22]:
f1(1,2,3,4)

1
2
3
4

In [23]:
f1(34,567,'ruchi',12.34)

34
567
ruchi
12.34

# variable number of keyword arguments

In [27]:
def f3(**kwargs):
    for k,v in kwargs.items():
        print("key is",k,"value is",v)

In [29]:
f3(a=1,b='ruchi',c=12.34,d=[1,2,3,4])

key is a value is 1
key is b value is ruchi
key is c value is 12.34
key is d value is [1, 2, 3, 4]

In [ ]:
x =int(input('enter the number you want factorial:'))
fact =1
for i in range(1,x+1):
    fact=fact*i
print(fact)