### Measure of central tendency

In [2]:
## variences

ages_lst = [23,43,23,56,74,32,68,98,45,32]

In [3]:
import numpy as np

In [5]:
mean=np.mean(ages_lst)

49.4

In [7]:
mean

49.4

In [9]:
var=np.var(ages_lst)

In [10]:
var

541.64

In [11]:
var=np.std(ages_lst)
var

23.273160507331188

In [12]:
import pandas as pd

In [13]:
data=[[10,12,13],[32,34,21],[34,23,45]]
data

[[10, 12, 13], [32, 34, 21], [34, 23, 45]]

In [16]:
df=pd.DataFrame(data,columns=["A","B","c"])
df

    A   B   c
0  10  12  13
1  32  34  21
2  34  23  45

In [17]:
df.var()

A    177.333333
B    121.000000
c    277.333333
dtype: float64

In [18]:
## row wise
df.var(axis=1)

0      2.333333
1     49.000000
2    121.000000
dtype: float64

In [19]:
## columns wise
df.var(axis=0)

A    177.333333
B    121.000000
c    277.333333
dtype: float64